body {
    background-image:url("https://progressive.org/downloads/13016/download/gene%20gif.gif?cb=ba46dc2e64ec039d5608617f9fd3daaf");
    background-size:cover;
    background-repeat: no-repeat;
}